
.cf:after {
  content: "";
  display: block;
  clear: both;
}

:root {
  --color-1: #eee;
  --color-ok: #6f6;
  --color-fail: #f66;
  --font-size-1: 3rem;
  --font-size-2: 2rem;
  --font-size-3: 1.5rem;
}
