
.ma\:0 {
  margin: 0rem;
}

.pa\:0 {
  padding: 0rem;
}

.c\:\#333 {
  color: #333;
}

.bc\:\#fff {
  background-color: #fff;
}

.bc\:\$1 {
  background-color: var(--color-1);
}

.mw\:64 {
  max-width: 64rem;
}

.pa\:2 {
  padding: 2rem;
}

.mlr\:a {
  margin-left: auto;

  margin-right: auto;
}

.fs\:\$1 {
  font-size: var(--font-size-1);
}

.tt\:u {
  text-transform: uppercase;
}

.ta\:c {
  text-align: center;
}

.t\:0\.5s {
  transition: 0.5s;
}

.d\:b {
  display: block;
}

.ptb\:4 {
  padding-top: 4rem;

  padding-bottom: 4rem;
}

.fs\:\$2 {
  font-size: var(--font-size-2);
}

.mtb\:1 {
  margin-top: 1rem;

  margin-bottom: 1rem;
}

.d\:fl {
  display: flex;
}

.flw\:w {
  flex-wrap: wrap;
}

.bs\:bb {
  box-sizing: border-box;
}

.pa\:1 {
  padding: 1rem;
}

.w\:50\% {
  width: 50%;
}

.bc\:\$fail {
  background-color: var(--color-fail);
}

.mtb\:2 {
  margin-top: 2rem;

  margin-bottom: 2rem;
}

.mlr\:-1 {
  margin-left: -1rem;

  margin-right: -1rem;
}

.f\:l {
  float: left;
}

.w\:100\% {
  width: 100%;
}

.w\:25\% {
  width: 25%;
}

.bc\:\$ok\&\.active.active {
  background-color: var(--color-ok);
}

.active .bc\:\$ok\~\.active {
  background-color: var(--color-ok);
}

.bc\:\#333\&\:hover:hover {
  background-color: #333;
}

.bts\:s {
  border-top-style: solid;
}

.btw\:1px {
  border-top-width: 1px;
}

.btc\:\$1 {
  border-top-color: var(--color-1);
}

.ta\:r {
  text-align: right;
}

@media screen and (min-width: 1024px) {
.ls\:0\.5em\@d {
  letter-spacing: 0.5em;
}

.bc\:\$ok\@d {
  background-color: var(--color-ok);
}
} /* mq screen and (min-width: 1024px)*/


@media screen and (max-width: 479px) {
.pa\:1\@m {
  padding: 1rem;
}

.bc\:\$ok\@m {
  background-color: var(--color-ok);
}

.mlr\:-0\.5\@m {
  margin-left: -0.5rem;

  margin-right: -0.5rem;
}

.pa\:0\.5\@m {
  padding: 0.5rem;
}

.w\:100\%\@m {
  width: 100%;
}
} /* mq screen and (max-width: 479px)*/


@media screen and (min-width: 480px) and (max-width: 1023px) {
.bc\:\$ok\@t {
  background-color: var(--color-ok);
}
} /* mq screen and (min-width: 480px) and (max-width: 1023px)*/


@media screen and (min-width: 480px) {
.bc\:\$ok\@\>m {
  background-color: var(--color-ok);
}
} /* mq screen and (min-width: 480px)*/


@media screen and (max-width: 1023px) {
.bc\:\$ok\@\<d {
  background-color: var(--color-ok);
}
} /* mq screen and (max-width: 1023px)*/

